*.bak
*.lyx~
*.bib,bak
*.tar.gz
Paris-Saclay/Machine-Learning/Labs/L3/data/*
Paris-Saclay/Machine-Learning/Labs/L3/cifar-10-batches-py/*
Paris-Saclay/Machine-Learning/Labs/L5/data/*
Paris-Saclay/Machine-Learning/Labs/L5/ucf101/*