 
/* start css.sty */
.cmr-5{font-size:50%;}
.cmr-7{font-size:70%;}
.cmmi-5{font-size:50%;font-style: italic;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-5{font-size:50%;}
.cmsy-7{font-size:70%;}
.ecrm-1728{font-size:170%;}
.ecrm-1200{font-size:120%;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.msam-7{font-size:70%;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ectt-0800{font-size:80%; font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ecrm-0800{font-size:80%;}
.ecrm-0500{font-size:50%;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.cmbx-10{ font-weight: bold;}
.ecrm-0900{font-size:90%;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.tcolorbox{margin-top:0.5em;margin-bottom: 0.5em;}
.tcolorbox .lowerbox{margin-top:0pt;}
.rotatebox{display: inline-block;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.uline{ text-decoration:underline; }
.uuline{ text-decoration:underline; }
span.sout {text-decoration: line-through }
span.xout {text-decoration: line-through }
span.uwave {text-decoration:underline }
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
#TBL-2-1{border-left: 1px solid black;}
#TBL-2-1{border-right:1px solid black;}
#TBL-2-2{border-right:1px solid black;}
#TBL-2-3{border-right:1px solid black;}
#TBL-2-4{border-right:1px solid black;}
#TBL-2-5{border-right:1px solid black;}
#TBL-2-6{border-right:1px solid black;}
#TBL-2-7{border-right:1px solid black;}
#TBL-3-1{border-left: 1px solid black;}
#TBL-3-1{border-right:1px solid black;}
#TBL-3-2{border-right:1px solid black;}
#TBL-3-3{border-right:1px solid black;}
#TBL-3-4{border-right:1px solid black;}
#TBL-3-5{border-right:1px solid black;}
#TBL-3-6{border-right:1px solid black;}
#TBL-3-7{border-right:1px solid black;}
#TBL-4-1{border-left: 1px solid black;}
#TBL-4-1{border-right:1px solid black;}
#TBL-4-2{border-right:1px solid black;}
#TBL-4-3{border-right:1px solid black;}
#TBL-4-4{border-right:1px solid black;}
#TBL-4-5{border-right:1px solid black;}
#TBL-4-6{border-right:1px solid black;}
#TBL-4-7{border-right:1px solid black;}
#TBL-5-1{border-left: 1px solid black;}
#TBL-5-1{border-right:1px solid black;}
#TBL-5-2{border-right:1px solid black;}
#TBL-5-3{border-right:1px solid black;}
#TBL-5-4{border-right:1px solid black;}
#TBL-5-5{border-right:1px solid black;}
#TBL-5-6{border-right:1px solid black;}
#TBL-5-7{border-right:1px solid black;}
#TBL-6-1{border-left: 1px solid black;}
#TBL-6-1{border-right:1px solid black;}
#TBL-6-2{border-right:1px solid black;}
#TBL-6-3{border-right:1px solid black;}
#TBL-6-4{border-right:1px solid black;}
#TBL-6-5{border-right:1px solid black;}
#TBL-6-6{border-right:1px solid black;}
#TBL-6-7{border-right:1px solid black;}
#TBL-7-1{border-left: 1px solid black;}
#TBL-7-1{border-right:1px solid black;}
#TBL-7-2{border-right:1px solid black;}
#TBL-7-3{border-right:1px solid black;}
#TBL-7-4{border-right:1px solid black;}
#TBL-7-5{border-right:1px solid black;}
#TBL-7-6{border-right:1px solid black;}
#TBL-7-7{border-right:1px solid black;}
#tcolobox-1 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-1 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-2 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-2 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#TBL-22-1{border-right:1px solid black;}
#TBL-23-1{border-right:1px solid black;}
#tcolobox-3 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-3 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-4 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-4 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-5 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-5 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#TBL-24-1{border-right:1px solid black;}
#tcolobox-6 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-6 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-7 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-7 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-8 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-8 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-9 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-9 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-10 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-10 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-11 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-11 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-12 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-12 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-13 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-13 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-14 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-14 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-15 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-15 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-16 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-16 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-17 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-17 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-18 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-18 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-19 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-19 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-20 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-20 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-21 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-21 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#tcolobox-22 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-22 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
#TBL-25-1{border-left: 1px solid black;}
#TBL-25-1{border-right:1px solid black;}
#TBL-25-2{border-right:1px solid black;}
#TBL-25-3{border-right:1px solid black;}
#TBL-25-4{border-right:1px solid black;}
#TBL-25-5{border-right:1px solid black;}
#TBL-25-6{border-right:1px solid black;}
#TBL-25-7{border-right:1px solid black;}
#TBL-25-8{border-right:1px solid black;}
#TBL-25-9{border-right:1px solid black;}
#TBL-25-10{border-right:1px solid black;}
#TBL-25-11{border-right:1px solid black;}
#TBL-25-12{border-right:1px solid black;}
#TBL-25-13{border-right:1px solid black;}
#TBL-25-14{border-right:1px solid black;}
#TBL-25-15{border-right:1px solid black;}
#TBL-25-16{border-right:1px solid black;}
#TBL-25-17{border-right:1px solid black;}
#TBL-25-18{border-right:1px solid black;}
#TBL-25-19{border-right:1px solid black;}
#TBL-25-20{border-right:1px solid black;}
#TBL-25-21{border-right:1px solid black;}
#TBL-25-22{border-right:1px solid black;}
#TBL-25-23{border-right:1px solid black;}
#TBL-25-24{border-right:1px solid black;}
#TBL-25-25{border-right:1px solid black;}
#TBL-25-26{border-right:1px solid black;}
#TBL-26-1{border-left: 1px solid black;}
#TBL-26-1{border-right:1px solid black;}
#TBL-26-2{border-right:1px solid black;}
#TBL-26-3{border-right:1px solid black;}
#TBL-26-4{border-right:1px solid black;}
#TBL-26-5{border-right:1px solid black;}
#TBL-26-6{border-right:1px solid black;}
#TBL-26-7{border-right:1px solid black;}
#TBL-26-8{border-right:1px solid black;}
#TBL-27-1{border-left: 1px solid black;}
#TBL-27-1{border-right:1px solid black;}
#TBL-27-2{border-right:1px solid black;}
#TBL-27-3{border-right:1px solid black;}
#TBL-27-4{border-right:1px solid black;}
#TBL-27-5{border-right:1px solid black;}
#TBL-27-6{border-right:1px solid black;}
#TBL-27-7{border-right:1px solid black;}
#TBL-27-8{border-right:1px solid black;}
#TBL-27-9{border-right:1px solid black;}
#TBL-27-10{border-right:1px solid black;}
#TBL-27-11{border-right:1px solid black;}
#TBL-27-12{border-right:1px solid black;}
#TBL-27-13{border-right:1px solid black;}
#TBL-27-14{border-right:1px solid black;}
#TBL-27-15{border-right:1px solid black;}
#TBL-27-16{border-right:1px solid black;}
#TBL-27-17{border-right:1px solid black;}
#TBL-27-18{border-right:1px solid black;}
#TBL-27-19{border-right:1px solid black;}
#TBL-27-20{border-right:1px solid black;}
#TBL-27-21{border-right:1px solid black;}
#TBL-27-22{border-right:1px solid black;}
#TBL-27-23{border-right:1px solid black;}
#TBL-27-24{border-right:1px solid black;}
#TBL-27-25{border-right:1px solid black;}
#TBL-27-26{border-right:1px solid black;}
span#textcolor1{color:#00FF00}
span#textcolor2{color:#FF0000}
span#textcolor3{color:#FF0000}
span#textcolor4{color:#00FF00}
#TBL-28-1{border-left: 1px solid black;}
#TBL-28-1{border-right:1px solid black;}
#TBL-28-2{border-right:1px solid black;}
#TBL-28-3{border-right:1px solid black;}
#TBL-28-4{border-right:1px solid black;}
#TBL-28-5{border-right:1px solid black;}
#TBL-28-6{border-right:1px solid black;}
#TBL-28-7{border-right:1px solid black;}
#TBL-28-8{border-right:1px solid black;}
span#textcolor5{color:#FF0000}
span#textcolor6{color:#FF0000}
span#textcolor7{color:#00FF00}
#TBL-29-1{border-left: 1px solid black;}
#TBL-29-1{border-right:1px solid black;}
#TBL-29-2{border-right:1px solid black;}
span#textcolor8{color:#00FF00}
span#textcolor9{color:#00FF00}
#TBL-30-1{border-left: 1px solid black;}
#TBL-30-1{border-right:1px solid black;}
#TBL-30-2{border-right:1px solid black;}
#TBL-30-3{border-right:1px solid black;}
#TBL-30-4{border-right:1px solid black;}
#TBL-30-5{border-right:1px solid black;}
#TBL-30-6{border-right:1px solid black;}
#TBL-30-7{border-right:1px solid black;}
#TBL-30-8{border-right:1px solid black;}
#TBL-30-9{border-right:1px solid black;}
#TBL-30-10{border-right:1px solid black;}
#TBL-30-11{border-right:1px solid black;}
#TBL-30-12{border-right:1px solid black;}
#TBL-30-13{border-right:1px solid black;}
#TBL-30-14{border-right:1px solid black;}
#TBL-30-15{border-right:1px solid black;}
#TBL-30-16{border-right:1px solid black;}
#TBL-30-17{border-right:1px solid black;}
#TBL-30-18{border-right:1px solid black;}
#TBL-30-19{border-right:1px solid black;}
#TBL-30-20{border-right:1px solid black;}
#TBL-30-21{border-right:1px solid black;}
#TBL-30-22{border-right:1px solid black;}
#TBL-30-23{border-right:1px solid black;}
#TBL-30-24{border-right:1px solid black;}
#TBL-30-25{border-right:1px solid black;}
#TBL-30-26{border-right:1px solid black;}
span#textcolor10{color:#000000}
span#textcolor11{color:#000000}
span#textcolor12{color:#00FF00}
span#textcolor13{color:#FF0000}
span#textcolor14{color:#FF0000}
span#textcolor15{color:#000000}
span#textcolor16{color:#00FF00}
#TBL-31-1{border-left: 1px solid black;}
#TBL-31-1{border-right:1px solid black;}
#TBL-31-2{border-right:1px solid black;}
#TBL-31-3{border-right:1px solid black;}
#TBL-31-4{border-right:1px solid black;}
#TBL-31-5{border-right:1px solid black;}
#TBL-31-6{border-right:1px solid black;}
#TBL-31-7{border-right:1px solid black;}
#TBL-31-8{border-right:1px solid black;}
span#textcolor17{color:#FF0000}
span#textcolor18{color:#FF0000}
span#textcolor19{color:#00FF00}
span#textcolor20{color:#00FF00}
#TBL-32-1{border-left: 1px solid black;}
#TBL-32-1{border-right:1px solid black;}
#TBL-32-2{border-right:1px solid black;}
#TBL-32-3{border-right:1px solid black;}
span#textcolor21{color:#00FF00}
span#textcolor22{color:#00FF00}
#TBL-33-1{border-left: 1px solid black;}
#TBL-33-1{border-right:1px solid black;}
#TBL-33-2{border-right:1px solid black;}
#TBL-33-3{border-right:1px solid black;}
#TBL-33-4{border-right:1px solid black;}
#TBL-33-5{border-right:1px solid black;}
#TBL-33-6{border-right:1px solid black;}
#TBL-33-7{border-right:1px solid black;}
#TBL-33-8{border-right:1px solid black;}
#TBL-33-9{border-right:1px solid black;}
#TBL-33-10{border-right:1px solid black;}
#TBL-33-11{border-right:1px solid black;}
#TBL-33-12{border-right:1px solid black;}
#TBL-33-13{border-right:1px solid black;}
#TBL-33-14{border-right:1px solid black;}
#TBL-33-15{border-right:1px solid black;}
#TBL-33-16{border-right:1px solid black;}
#TBL-33-17{border-right:1px solid black;}
#TBL-33-18{border-right:1px solid black;}
#TBL-33-19{border-right:1px solid black;}
#TBL-33-20{border-right:1px solid black;}
#TBL-33-21{border-right:1px solid black;}
#TBL-33-22{border-right:1px solid black;}
#TBL-33-23{border-right:1px solid black;}
#TBL-33-24{border-right:1px solid black;}
#TBL-33-25{border-right:1px solid black;}
#TBL-33-26{border-right:1px solid black;}
span#textcolor23{color:#000000}
span#textcolor24{color:#000000}
span#textcolor25{color:#000000}
span#textcolor26{color:#00FF00}
span#textcolor27{color:#FF0000}
span#textcolor28{color:#FF0000}
span#textcolor29{color:#000000}
span#textcolor30{color:#000000}
span#textcolor31{color:#000000}
span#textcolor32{color:#00FF00}
#TBL-34-1{border-left: 1px solid black;}
#TBL-34-1{border-right:1px solid black;}
#TBL-34-2{border-right:1px solid black;}
#TBL-34-3{border-right:1px solid black;}
#TBL-34-4{border-right:1px solid black;}
#TBL-34-5{border-right:1px solid black;}
#TBL-34-6{border-right:1px solid black;}
#TBL-34-7{border-right:1px solid black;}
#TBL-34-8{border-right:1px solid black;}
span#textcolor33{color:#FF0000}
span#textcolor34{color:#FF0000}
span#textcolor35{color:#00FF00}
#TBL-35-1{border-left: 1px solid black;}
#TBL-35-1{border-right:1px solid black;}
#TBL-35-2{border-right:1px solid black;}
#TBL-35-3{border-right:1px solid black;}
#TBL-35-4{border-right:1px solid black;}
span#textcolor36{color:#00FF00}
span#textcolor37{color:#00FF00}
#tcolobox-23 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-23 .tcolorbox-content{color: #000000; background-color: #F2F2F2; border: 1px solid #404040;}
/* end css.sty */

