body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: #FFFBE9;
    font-family: Arial, sans-serif;
    color: white;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5em;
    color: #FFFBE9;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
}

.logo-container {
    position: absolute;
    top: 8px;
    right: 10px;
    display: flex;
    align-items: center;
}
  
.logo-container img {
    max-height: 50px;
    margin-left: 10px;
}

header h1 {
    margin: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #40798C;
    color: #FFFBE9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 90px;
    left: 20px;
    transform: None;
    font-size: 0.8em;
}

.button:hover {
    background-color: #FFFBE9;
    color: #40798C;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    padding-top: 100px;
    margin-top: 20px;
}

.intro {
    max-width: 800px;
    margin-bottom: 100px;
    color: #000000;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    perspective: 1000px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 5%;
}

.card-face {
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
}

.card .front img {
    display: block;
    width: auto;
    height: 90%;
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
    background: rgba(0,0,0,0);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
}

.card-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #40798C;
    color: #FFFBE9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-text a:hover {
    background-color: #000;
    color: #fff;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 480px) {
    header {
        padding: 15px 0; /* Reduced padding */
        font-size: 1.2em; /* Smaller font size */
    }

    .logo-container {
        display: none;
    }

    .button {
        padding: 8px 16px; /* Smaller button */
        font-size: 0.7em; /* Smaller font size for button */
    }

    .content {
        padding-top: 200px; /* Adjust this value as necessary */
        padding: 20px; /* Existing padding */
    }

    .intro, .card-text {
        font-size: 0.9em; /* Smaller text */
    }

    .cards {
        flex-direction: column; /* Cards in a vertical column */
        width: 100%; /* Cards take full width */
    }

    .card {
        width: 90%; /* Cards take full width */
        height: auto; /* Height auto lets each card be as tall as its content */
        margin-right: 0; /* No right margin since we're stacking vertically */
        margin-bottom: 20px; /* Add some space between vertically stacked cards */
        margin: 0 auto 20px; /* Center cards */
    }

    .card .front img {
        width: 100%; /* Make images fill the card */
        height: auto; /* Maintain aspect ratio */
    }
}